
/*--------------------------------reset CSS--------------------------------*/

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
    color: inherit;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    font-size: 100%;
    margin:0;
    padding:0;
    color:inherit;
}
q:before,q:after {content:'';}
abbr,acronym { border: 0;}
button {cursor: pointer}

/*--------------------------------general CSS--------------------------------*/

html,body {
    font-size:16px;
    line-height: 25px;
    font-weight: 400;
    color: #182026;
    background-color: #191919;
}
body, input, textarea, button {font-family: 'Work Sans', sans-serif;}
.wrapper {
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}
